<aside data-component="sidebar"></aside>
<div class="main-content">
  <div>
    <header data-component="topbar"></header>
    <main class="content">
      <div class="card-groups">
        <header>
          <div>
            <h1 class="icon-user" data-i18n>{LNG_Holder}</h1>
            <p data-i18n>Manage current holder assignments for inventory items</p>
          </div>
          <button class="btn btn-primary icon-new" data-action="click.prevent:requestApi" data-api-url="api/inventory/holder/get?modal=1" data-api-method="get" data-i18n>{LNG_Add}
            {LNG_Holder}</button>
        </header>
        <div class="content-body">
          <div class="tablebody">
            <table class="table border fullwidth" data-table="inventoryHolders" data-source="api/inventory/holders" data-default-sort="holder_id asc" data-page-size="25"
                   data-row-actions='{
                      "edit": {
                        "label": "{LNG_Edit} {LNG_Holder}",
                        "className": "btn btn-success icon-edit"
                      },
                      "clearhold": {
                        "label": "Clear holder",
                        "className": "btn btn-danger icon-delete",
                        "confirm": "{LNG_Confirm clear holder}?"
                      }
                    }' data-action-url="api/inventory/holders/action">
              <thead>
                <tr>
                  <th data-field="topic" data-sort="topic" data-i18n>{LNG_Equipment}</th>
                  <th data-field="product_no" data-sort="product_no" data-i18n>{LNG_Serial}/{LNG_Registration No}</th>
                  <th data-field="holder_id" data-filter="true" data-type="select" data-sort="holder_id" data-format="lookup" data-i18n>{LNG_Holder}</th>
                  <th data-field="category_id" data-filter="true" data-type="select" data-sort="category_id" data-format="lookup" data-i18n>{LNG_Category}</th>
                  <th data-field="type_id" data-filter="true" data-type="text" data-sort="type_id" data-format="lookup" data-i18n>{LNG_Type}</th>
                  <th data-field="unit" data-i18n>{LNG_Unit}</th>
                  <th data-field="quantity" class="center" data-cell-class="center" data-sort="quantity" data-i18n>{LNG_Assigned qty}</th>
                  <th data-field="inuse" data-filter="true" data-type="select" class="center" data-cell-class="center" data-sort="inuse" data-format="lookup" data-i18n>{LNG_Active}
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2026 Admin Framework - Powered by <a href="https://nowjs.net">Now.js</a></p>
  </footer>
</div>